<form class="signin">
    <div class="form-header">
        <h1>Phone Verification</h1>
        <p>Please verify your phone number</p>
    </div>
    <div class="form-body">
        <div class="row" [ngClass]="{'alert-error': submitted && phoneNumber==''}">
            <label for="email"></label>
            <input class="input-wol--s37" type="number" [(ngModel)]="phoneNumber" placeholder="Enter your phone number"
                name="phoneNumber" id="phoneNumber" />
            <div *ngIf="submitted && phoneNumber=='' ">
                <p class="error-notice">
                    Phone Number is Required
                </p>
            </div>
        </div>
    </div>


    <div id="recaptcha-container"></div>
    <p>
        PhoneNumber: {{phoneNumber}}
    </p>
    <p>
        Recapcha Token: {{tokenTest}}
    </p>
    <div class="form-footer">
        <div class="row">
            <button id="sendCode" type="submit" (click)="verifyPhoneNumber()" class="btn-primary clickable"
                [disabled]="phoneNumber==''">
                Send OTP Code
            </button>
        </div>

        <div *ngIf="loading" class="spinner-div">
            <div class="loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

</form>